

.product_grid {
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 justify-content: center;
 align-items: center;
 gap: 20px;
 overflow: scroll;

 padding: 20px 0;

 @media (max-width: 768px) {
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
 }
  .product_grid_item {
    text-align: center;
    .h6{
      color: #000;
      text-decoration: none !important;
      text-transform: capitalize;
     margin-top: 10px;
     &:hover{
      color: #e4718a;
     }
    }
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
      height: 100px;
      @media (max-width: 768px) {
        height:120px;
      }
    }
}}